<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Redirect 400 Bad Request errors to the error.jsp page -->
  <error-page>
      <error-code>400</error-code>
      <location>/error.jsp</location>
  </error-page>
  <!-- Redirect 401 Unauthorized errors to the error.jsp page -->
  <error-page>
      <error-code>401</error-code>
      <location>/error.jsp</location>
  </error-page>
    <!-- 403 Forbidden - Server understood request but refuses to authorize -->
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <!-- 404 Not Found - Resource not found -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
  <!-- Redirect 500 Internal Server Error to the error.jsp page -->
  <error-page>
      <error-code>500</error-code>
      <location>/error.jsp</location>
  </error-page>
  <!-- Redirect all uncaught exceptions to the error.jsp page -->
  <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/error.jsp</location>
  </error-page>


</web-app>
